@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;
}

.music.staff {
  display: flex;
  justify-content: center;
}

.music.staff svg {
  display: block;
  width: 220px;
  height: 200px;
}
